<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <li>
      ID: <%= user.id %>Name: <%= user.firstName %> <%= user.lastName %>, Age:
      <%= user.age %>, Email: <%= user.email %>, Bio: <%= user.bio %>
    </li>
  </body>
</html>
